body{
    margin: 0;
}

.current {
    color: rgb(127, 5, 5) !important;
    font-weight: bold;
}

.nav{
    justify-content: space-evenly;
}

.nav a, .main_cover_text a {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none !important;
}

.main_cover_text a{
    color: white;
}

.nav a::after, .main_cover_text a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: rgb(127, 5, 5);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.nav a:hover::after, .main_cover_text a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav a:hover, .main_cover_text a:hover {
    color: rgb(127, 5, 5) !important;
  }

.main_cover{
    height: 100vh;
    background-image: url("../pictures/home.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_cover_text{
    text-align: center;
    color: white;
}

.kontakt_cover{
    background-image: url("../pictures/kontakt.png");
}